<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>XOpload Videos</title>
    <link rel="stylesheet" href="/upload.css" />
</head>
<body>
    <h1>XOpload Videos</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label for="video">Video:</label>
            <input type="file" id="video" name="video">
        </div>
        <div>
            <label for="thumbnail">Thumbnail:</label>
            <input type="file" id="thumbnail" name="thumbnail">
        </div>
        <div>
            <button type="submit">Upload</button>
        </div>
    </form>
    <a href="https://teamoxproj.auth.us-east-2.amazoncognito.com/logout?client_id=5ajoq3jnf42s91lh2gssmf70d0&logout_uri=https://teamoxprojdemo.click/logout.html">log out</a>
</body>
</html>